@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <center>
        <img class="mainImage" src="~/images/office_pizza.gif" />
    </center>
    <br />
    <br />

    <a href="Checkout/ThankYou" class="p-4 border border-gray-200 dark:bg-gray-800  dark:border-gray-700 rounded-full duration-300 hover:border-blue-400 hover:shadow-lg hover:shadow-blue-600/20 dark:hover:border-blue-300/30">Thank You🙏</a>
</div>
